<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969030654104-41r3or7suc7ttlp0ppumtflmdh26bas4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969030654104-41r3or7suc7ttlp0ppumtflmdh26bas4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>969030654104-0ke6vl19spibp6efdihaa34g8vot30mb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWBsVR-MrvihWXHHWYAXxnE3IY9uok0_o</string>
	<key>GCM_SENDER_ID</key>
	<string>969030654104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.articlexpressug.datingapp</string>
	<key>PROJECT_ID</key>
	<string>datingapp-development</string>
	<key>STORAGE_BUCKET</key>
	<string>datingapp-development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969030654104:ios:1f793dd8fb652e0f35d8ed</string>
	<key>DATABASE_URL</key>
	<string>https://datingapp-development-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>